header {
  background: #fff;
  height: 60px;
  padding: 0 32px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 1px solid #CBCBD9;
}

.user-nav {
  margin-left: 20px;
}

.logout {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin-left: 20px;

  .icon-log-out {
    font-size: 20px;
    margin-right: 10px;
  }
}
