@import '../../../scss/constants';

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 20px;
}

.checker-message {
  font-size: 12px;
  color: rgba(9, 36, 60, 0.5);
  margin-bottom: 10px;
}

.items {
  display: flex;
  align-items: center;

  &.low {
    .active {
      background: $warning;
    }
  }

  &.medium {
    .active {
      background: $info;
    }
  }

  &.strong {
    .active {
      background: $success;
    }
  }

  .item {
    width: 20px;
    height: 5px;
    border-radius: 4px;
    background-color: rgba(9, 36, 60, 0.1);
    margin: 0 5px;
  }
}
