:host {
  display: block;
  padding: 20px 0;
}
a {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  padding: 14px 30px;
  position: relative;
  text-decoration: none;
  transition: all 0.4s;

  i {
    font-size: 22px;
    margin-right: 18px;
  }

  &:hover, &.active {
    background: #464E62;

    &:before {
      content: "";
      width: 5px;
      left: 0;
      height: 50%;
      background: #0CACF8;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
