@charset "UTF-8";

@font-face {
  font-family: "icon";
  src:url("fonts/icon.eot");
  src:url("fonts/icon.eot?#iefix") format("embedded-opentype"),
      url("fonts/icon.woff") format("woff"),
      url("fonts/icon.ttf") format("truetype"),
      url("fonts/icon.svg#icon") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "icon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "icon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-alert:before {
  content: "\61";
}
.icon-back:before {
  content: "\62";
}
.icon-bell:before {
  content: "\63";
}
.icon-burger:before {
  content: "\64";
}
.icon-candidates:before {
  content: "\65";
}
.icon-checked:before {
  content: "\66";
}
.icon-chevron-down:before {
  content: "\67";
}
.icon-clock:before {
  content: "\68";
}
.icon-data:before {
  content: "\6a";
}
.icon-edit:before {
  content: "\6b";
}
.icon-email:before {
  content: "\6c";
}
.icon-eye-off:before {
  content: "\6d";
}
.icon-globe:before {
  content: "\6e";
}
.icon-help:before {
  content: "\6f";
}
.icon-interviews:before {
  content: "\70";
}
.icon-log-out:before {
  content: "\71";
}
.icon-note:before {
  content: "\72";
}
.icon-note-edit:before {
  content: "\73";
}
.icon-orders:before {
  content: "\74";
}
.icon-play:before {
  content: "\75";
}
.icon-plus-circle:before {
  content: "\76";
}
.icon-refresh2:before {
  content: "\77";
}
.icon-refresh-ccw:before {
  content: "\78";
}
.icon-refresh-cw:before {
  content: "\79";
}
.icon-search:before {
  content: "\7a";
}
.icon-settings:before {
  content: "\41";
}
.icon-speedometer:before {
  content: "\42";
}
.icon-trash:before {
  content: "\43";
}
.icon-user-plus:before {
  content: "\44";
}
.icon-user-x:before {
  content: "\45";
}
.icon-vector:before {
  content: "\46";
}
.icon-vector-1:before {
  content: "\69";
}
