//@import "~app/scss/index";

.lt-wrapper {
  display: flex;
  height: 100vh;
}
.lt-aside {
  width: 270px;
  background: #292F3D;
  overflow-y: auto;
}
.lt-main {
  width: calc(100% - 270px);
  overflow-y: auto;
  display: flex;
  flex-flow: column;
}
