.dashboard-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.cms-content {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background: #fff;
}
