<div class="main-content">
  <div class="dashboard-content">
    <div class="cms-content card center">
      <img width="500px" src="assets/icons/dashboard-img.svg" alt="">
      <div class="title">Hire programmers!</div>
      <p>Create an order to start receiving resumes from our database of programmers with proven skills. We charge no
        payment before you hired the candidate.</p>
      <br>
      <a [routerLink]="['/orders/create']" class="btn btn-blue">
        <i class="icon-plus-circle"></i>Create a new order
      </a>
    </div>
  </div>
</div>
