@import '../../../scss/constants';

.engineer {
  background: #FFFFFF;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);

  &-content {
    padding: 15px;
  }
}

.header {
  display: flex;
  margin-bottom: 20px;

  .img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
  }

  .info{
    width: calc(100% - 65px);
  }

  .name {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  .position {
    font-size: 13px;
    line-height: 19px;
    color: #0CACF8;
  }
}

.row-info {
  margin-bottom: 13px;

  .info-label {
    font-size: 13px;
    line-height: 19px;
    color: #6E7585;
  }

  .info-value {
    font-size: 14px;
    line-height: 21px;
  }
}
footer {
  padding: 15px 15px 15px 15px;
}
.score {
  background: #25BF50;
  box-sizing: border-box;
  border-radius: 65px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 15px;
  width: 50px;
  height: 30px;

  &.orange{
    background: $orange;
  }

}
